<div class="star celestial-body" style="
	width: <%= Math.log(star.radius * 2) * 100 %>px;
	height: <%= Math.log(star.radius * 2) * 100 %>px;
	background-color: #<%= star.name_hex_color %>;
">
	<%= star.name %>

	<% _.each(star.planets, function(planet) { %>
		<div class="planet-container" style="
			width: <%= Math.log(planet.apogee) / Math.log(1.0001) - planetSubVal %>px;
			height: <%= Math.log(planet.radius * 2) * 100 %>px;
		">
			<div class="planet celestial-body" style="
				width: <%= Math.log(planet.radius * 2) * 100 %>px;
				height: <%= Math.log(planet.radius * 2) * 100 %>px;
				background-color: #<%= planet.name_hex_color %>;
			">
				<%= planet.name %>

				<% _.each(planet.satellites, function(satellite) { %>
					<div class="satellite-container" style="
						width: <%= Math.log(satellite.apogee) / Math.log(1.0001) - planetSubVal %>px;
						height: <%= Math.log(satellite.radius * 2) * 100 %>px;
					">
						<div class="satellite celestial-body" style="
							width: <%= Math.log(satellite.radius * 2) * 100 %>px;
							height: <%= Math.log(satellite.radius * 2) * 100 %>px;
							background-color: #<%= satellite.name_hex_color %>;
						">
							<%= satellite.name %>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	<% }); %>
</div>
