<div class="star celestial-body" style="
	width: <%= Math.log(star.radius * 2) * 70 %>px;
	height: <%= Math.log(star.radius * 2) * 70 %>px;
	background-color: #<%= star.name_hex_color %>;
	box-shadow: rgba(<%= star.name_rgb_color %>, 0.7) 0 0 <%= Math.log(star.radius * 2) * 15 %>px;
">
	<p class="name"><%= star.name %></p>

	<% _.each(star.planets, function(planet) { %>
		<div class="planet-container" style="
			width: <%= Math.log(planet.apogee) / Math.log(1.000015) - planetSubVal %>px;
			height: <%= Math.log(planet.radius * 2) * 70 %>px;
			<!-- transform: translate(-50%, -50%) rotate(<%= planet.name_degrees %>deg); -->
		">
			<div class="animation-wrapper">
				<div class="planet celestial-body <% if (tg.ghos.serverData.orbiting.class_name == 'Planet' && tg.ghos.serverData.orbiting.id == planet.id) { %>currently-orbiting<% } %>" style="
					width: <%= Math.log(planet.radius * 2) * 70 %>px;
					height: <%= Math.log(planet.radius * 2) * 70 %>px;
					background-color: #<%= planet.name_hex_color %>;
					box-shadow: rgba(<%= planet.name_rgb_color %>, 0.7) 0 0 <%= Math.log(planet.radius * 2) * 15 %>px;
				" data-id="<%= planet.id %>">
					<p class="name"><%= planet.name %></p>

					<% if (planet.satellites.length > 0) { %>
						<% var closestSatellite = _.min(planet.satellites, function(satellite) { return satellite.apogee; }); %>
						<% var satelliteSubVal = Math.log(closestSatellite.apogee) / Math.log(1.00014) * 0.95 %>
					<% } %>

					<% _.each(planet.satellites, function(satellite) { %>
						<div class="satellite-container" style="
							width: <%= Math.log(satellite.apogee) / Math.log(1.00014) - satelliteSubVal %>px;
							height: <%= Math.log(satellite.radius * 2) * 70 %>px;
							transform: translate(-50%, -50%) rotate(<%= satellite.name_degrees %>deg);
						" data-id="<%= satellite.id %>">
							<div class="animation-wrapper">
								<div class="satellite celestial-body <% if (tg.ghos.serverData.orbiting.class_name == 'Satellite' && tg.ghos.serverData.orbiting.id == satellite.id) { %>currently-orbiting<% } %>" style="
									width: <%= Math.log(satellite.radius * 2) * 70 %>px;
									height: <%= Math.log(satellite.radius * 2) * 70 %>px;
									background-color: #<%= satellite.name_hex_color %>;
									box-shadow: rgba(<%= satellite.name_rgb_color %>, 0.7) 0 0 <%= Math.log(satellite.radius * 2) * 15 %>px;
									transform: rotate(-<%= satellite.name_degrees %>deg);
								">
									<p class="name"><%= satellite.name %></p>
								</div>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		</div>
	<% }); %>
</div>
