<div class="planet celestial-body" style="
	width: <%= Math.log(planet.radius * 2) * 60 %>px;
	height: <%= Math.log(planet.radius * 2) * 60 %>px;
	background-color: #<%= planet.name_hex_color %>;
	box-shadow: rgba(<%= planet.name_rgb_color %>, 0.7) 0 0 <%= Math.log(planet.radius * 2) * 20 %>px;
">
	<p class="name"><%= planet.name %></p>

	<% _.each(planet.satellites, function(satellite) { %>
		<div class="satellite-container" style="
			width: <%= Math.log(satellite.apogee) / Math.log(1.00015) - satelliteSubVal %>px;
			height: <%= Math.log(satellite.radius * 2) * 60 %>px;
			<!-- transform: translate(-50%, -50%) rotate(<%= satellite.name_degrees %>deg); -->
		">
			<div class="animation-wrapper">
				<div class="satellite celestial-body" style="
					width: <%= Math.log(satellite.radius * 2) * 60 %>px;
					height: <%= Math.log(satellite.radius * 2) * 60 %>px;
					background-color: #<%= satellite.name_hex_color %>;
					box-shadow: rgba(<%= satellite.name_rgb_color %>, 0.7) 0 0 <%= Math.log(satellite.radius * 2) * 20 %>px;
				">
					<p class="name"><%= satellite.name %></p>
				</div>
			</div>
		</div>
	<% }); %>
</div>
